In [1]:
## IMPORTS
# Data
import pandas as pd
import os

In [ ]:
current_directory = os.path.dirname(__file__)
## PATH
d_path = os.path.join(current_directory, "../data/train-2023-08-01.csv")
pp_path = os.path.join(current_directory, "../data/train-2023-08-01-pro.pqt")

In [4]:
file_name = "predict-2023-08-03.parquet"
data_path = "../data/"
path = os.path.join(data_path, file_name)
df = pd.read_parquet(path)
df

    store_id  year  month  day  weekday
0       5000  2023      8    2        2
1       5000  2023      8    3        3
2       5001  2023      8    2        2
3       5001  2023      8    3        3
4       5002  2023      8    2        2
5       5002  2023      8    3        3
6       5003  2023      8    2        2
7       5003  2023      8    3        3
8       5004  2023      8    2        2
9       5004  2023      8    3        3
10      5005  2023      8    2        2
11      5005  2023      8    3        3